@model IEnumerable<Web.APIMessages.Operator>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ntn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevLogUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ntn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevLogUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OperatorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OperatorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OperatorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
